.mat-list-item {
    color: #000 !important;
}

.hl-active {
    background-color: #fff !important;
    color: #333 !important;
}

mat-nav-list a:hover {
    color: #fff !important;
    cursor: pointer;
}