<mat-nav-list id="left-side-nav">
    <div class="row justify-content-around">
        <h3 mat-list-item class="py-3">
            {{userName}}
        </h3>

        <mat-nav-list (click)="navbarRef.close()">
            <mat-icon class="left-navlist-xs-close"> close </mat-icon>
        </mat-nav-list>
    </div>

    <ng-container *ngFor="let item of navListItems">
        <mat-nav-list (click)="navbarRef.close()">
            <a mat-list-item class="left-navlist-xs" [routerLink]="item.link" routerLinkActive="hl-active">
                <mat-icon> {{item.icon}} </mat-icon> <span class="px-3"> {{item.scrName}} </span>
            </a>
        </mat-nav-list>
    </ng-container>

</mat-nav-list>