
.hl-active {
    background-color: #ffffff !important;
    color: #333 !important;
}

#left-side-nav a.hl-active {
    color: #000 !important;
}

mat-nav-list a:hover {
    color: #ffffff !important;
    cursor: pointer;
}