<div class="offset-1 col-sm-10 col-xs container py-4">

    <div class="text-center">
        <div class="divider d-flex align-items-center py-4">
            <h2 class="text-center fw-bold mx-3 mb-0"> Login </h2>
        </div>
    </div>

    <form>

        <!-- Email input -->
        <div class="py-4">
            <label for="email"> Email </label>
            <input type="email" id="email" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="py-4">
            <label for="password"> Password </label>
            <input type="password" id="password" class="form-control" />
        </div>

        <div class="d-flex justify-content-between align-items-center py-3">
            <!-- Checkbox -->
            <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                    Remember me
                </label>
            </div>
            <a href="#!">Forgot password?</a>
        </div>

        <div class="row justify-content-center py-4">
            <button mat-raised-button type="submit" color="default" class="col-8 btn-login rounded-pill p-1"> Login
            </button>
        </div>

        <!-- Sing Up -->
        <div class="text-center text-lg-start pt-2">
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                <a routerLink="/singup" class="link-danger">Register</a>
            </p>
        </div>

    </form>

    <!-- Google SSO -->
    <!-- <div id="google-sso">
        <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
        </div>

        <div class="row">
            <button type="button" class="col rounded-pill">
                <img src="https://img.icons8.com/color/16/000000/google-logo.png"> Sign In Using
                Google </button>
        </div>
    </div> -->
</div>