<!-- <div class="md-form">
  <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
  <input mdbInput type="text" id="form2" class="form-control">
  <label for="form2">Example label</label>
</div> -->

<div class="col-sm-9 col-xs container mt-5">
  <form>
    <div class="divider d-flex align-items-center my-4">
      <h2 class="text-center fw-bold mx-3 mb-0"> Register </h2>
    </div>

    <p class="text-center">Create your account. It's free and only takes a minute.</p>

    <div class="form-group">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="first_name" placeholder="First Name">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="last_name" placeholder="Last Name">
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password">
    </div>

    <div class="form-group">
      <label class="form-check-label">
        <input type="checkbox"> I accept the <a href="#">Terms of
          Use</a> &amp; <a href="#">Privacy Policy</a>
      </label>
    </div>

    <div class="form-group">
      <button mdbBtn type="submit" class="col btn-success rounded-pill"> Register Now </button>
    </div>

    <!-- Login -->
    <div class="text-center text-lg-start pt-2">
      <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account 
          <a routerLink="/login" class="link-danger"> Login </a>
      </p>
  </div>

  </form>
</div>