<div class="container rounded bg-white">
    <div class="row">

        <div class="col-12 border-bottom">
            <div class="d-flex flex-column align-items-center text-center p-3">
                <img class="rounded-circle" width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold"> Edogaru </span>
                <span class="text-black-50"> edogaru@mail.com.my </span>
            </div>
        </div>

        <!-- First Column -->
        <div class="col-md-6 border-right">

            <div class="text-center pt-4 pb-2">
                <h2>Personal Details</h2>
            </div>

            <div>
                <form class="row mt-2">
                    <div class="col">
                        <label class="labels">First Name</label>
                        <input type="text" class="form-control" placeholder="first name">
                    </div>

                    <div class="col">
                        <label class="labels">Last name</label>
                        <input type="text" class="form-control" placeholder="surname">
                    </div>

                    <div class="col-12 pt-3">
                        <label class="labels">Email ID</label>
                        <input type="text" class="form-control" placeholder="enter email id">
                    </div>

                    <div class="col-12 pt-3">
                        <label class="labels">Mobile Number</label>
                        <input type="text" class="form-control" placeholder="enter phone number">
                    </div>

                    <div class="mt-5 col-12 text-center">
                        <button class="btn btn-primary profile-button" type="button">Save Profile </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Second Column -->
        <div class="col-md-6">

            <div class="text-center pt-4 pb-2">
                <h2>College Details</h2>
            </div>

            <div>
                <form class="row mt-2">
                    <div class="col-12">
                        <label class="labels"> College Name </label>
                        <input type="text" class="form-control" placeholder="education">
                    </div>

                    <div class="col-12 pt-3">
                        <label class="labels"> Roll Number </label>
                        <input type="text" class="form-control" placeholder="additional details">
                    </div>

                    <div class="col-12 pt-3">
                        <label class="labels"> Department </label>
                        <input type="text" class="form-control" placeholder="experience">
                    </div>
                    <br>

                    <div class="col-12 pt-3">
                        <label class="labels"> Year of study </label>
                        <input type="text" class="form-control" placeholder="additional details">
                    </div>

                    <div class="mt-5 col-12 text-center">
                        <button class="btn btn-primary profile-button" type="button"> Save </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>